<div id="<%= dom_id case %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= case.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Admission identifier:</strong>
    <%= case.admission_identifier %>
  </div>
</div>
